<section class="Report-center">
  <div class="breadcrumbs">
    <ol class="breadcrumb">
      <li><a href="index_map.html"> Home </a></li>
      <li class="active"> Report Center </li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="title"> <span>Rep</span>ort <small> (10) </small></div>
    </div>
    <div class="col-md-3">
      <div class="search">
        <input type="text" placeholder="Search Reports">
        <i class="fa fa-search"></i> </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" type="button"> <span style="margin: 0px 8px;"><i class="fa fa-file-pdf-o"></i></span> Export PDF </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="Users_list">
        <ul class="">
          <li>
            <div class="checkbox icheck ">
              <label>
                <input type="checkbox" >
                <span>ALL</span> </label>
            </div>
          </li>
          <li> Report Name </li>
          <li> OWNER </li>
          <li> CREATED </li>
          <li> Action </li>
        </ul>
        <div id="Users_list_scroll" class="Users_list_scroll">
          <ul class="active">
            <li>
              <div class="checkbox icheck ">
                <label>
                  <input type="checkbox" >
                </label>
              </div>
            </li>
            <li> Report 1 Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li> Rajiv Yadav</li>
            <li> 01/03/2018</li>
            <li> <img src="../../assets/dist/images/dots.png" alt=""> </li>
          </ul>
          <ul>
            <li>
              <div class="checkbox icheck ">
                <label>
                  <input type="checkbox" checked >
                </label>
              </div>
            </li>
            <li> Report 2 Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li> Rajiv Yadav</li>
            <li> 01/03/2018</li>
            <li> <img src="../../assets/dist/images/dots_active.png" alt=""> </li>
          </ul>
          <ul>
            <li>
              <div class="checkbox icheck ">
                <label>
                  <input type="checkbox"  >
                </label>
              </div>
            </li>
            <li> Report 3 Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li> Rajiv Yadav</li>
            <li> 01/03/2018</li>
            <li> <img src="../../assets/dist/images/dots.png" alt=""> </li>
          </ul>
          <ul>
            <li>
              <div class="checkbox icheck ">
                <label>
                  <input type="checkbox"  >
                </label>
              </div>
            </li>
            <li> Report 4 Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li> Rajiv Yadav</li>
            <li> 01/03/2018</li>
            <li> <img src="../../assets/dist/images/dots.png" alt=""> </li>
          </ul>
          <ul>
            <li>
              <div class="checkbox icheck ">
                <label>
                  <input type="checkbox"  >
                </label>
              </div>
            </li>
            <li> Report 5 Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li> Rajiv Yadav</li>
            <li> 01/03/2018</li>
            <li> <img src="../../assets/dist/images/dots.png" alt=""> </li>
          </ul>
          <ul>
            <li>
              <div class="checkbox icheck ">
                <label>
                  <input type="checkbox"  >
                </label>
              </div>
            </li>
            <li> Report 6 Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li> Rajiv Yadav</li>
            <li> 01/03/2018</li>
            <li> <img src="../../assets/dist/images/dots.png" alt=""> </li>
          </ul>
          <ul>
            <li>
              <div class="checkbox icheck ">
                <label>
                  <input type="checkbox"  >
                </label>
              </div>
            </li>
            <li> Report 7 Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li> Rajiv Yadav</li>
            <li> 01/03/2018</li>
            <li> <img src="../../assets/dist/images/dots.png" alt=""> </li>
          </ul>
          <ul>
            <li>
              <div class="checkbox icheck ">
                <label>
                  <input type="checkbox"  >
                </label>
              </div>
            </li>
            <li> Report 8 Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li> Rajiv Yadav</li>
            <li> 01/03/2018</li>
            <li> <img src="../../assets/dist/images/dots.png" alt=""> </li>
          </ul>
          <ul>
            <li>
              <div class="checkbox icheck ">
                <label>
                  <input type="checkbox"  >
                </label>
              </div>
            </li>
            <li> Report 9 Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li> Rajiv Yadav</li>
            <li> 01/03/2018</li>
            <li> <img src="../../assets/dist/images/dots.png" alt=""> </li>
          </ul>
          <ul>
            <li>
              <div class="checkbox icheck ">
                <label>
                  <input type="checkbox"  >
                </label>
              </div>
            </li>
            <li> Report 10 Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            <li> Rajiv Yadav</li>
            <li> 01/03/2018</li>
            <li> <img src="../../assets/dist/images/dots.png" alt=""> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
