<!--<aside class="main-sidebar">
    <section class="sidebar">
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control color" placeholder="Search...">
          <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
          </span> </div>
      </form>
      <ul class="sidebar-menu">
        <li routerLinkActive="active" class="treeview"> <a href="#"> <span>Well 1</span> <i class="fa fa-circle-o text-green pull-right"></i> <span class="pull-right-container"> <i class="fa fa-anglde-left pull-right"></i> </span> </a>
          <ul class="treeview-menu ">
            <li routerLinkActive="active"><a routerLink="/WellLocation" >Location</a></li>
            <li routerLinkActive="active"><a routerLink="/WellDetails">Well Details</a></li>
            <li routerLinkActive="active"><a routerLink="/EspManagement">ESP Management</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <span>Well 2</span> <i class="fa fa-circle-o text-green pull-right"></i> <span class="pull-right-container"> <i class="fa fa-anglde-left pull-right"></i> </span> </a>
          <ul class="treeview-menu ">
            <li routerLinkActive="active"><a routerLink="/WellLocation" >Location</a></li>
            <li routerLinkActive="active"><a routerLink="/WellDetails">Well Details</a></li>
            <li routerLinkActive="active"><a routerLink="/EspManagement">ESP Management</a></li>
          </ul>
        </li>
        <li  class="treeview"> <a href="#"> <span>Well 3</span> <i class="fa fa-circle-o text-danger pull-right"></i> <span class="pull-right-container"> <i class="fa fa-anglde-left pull-right"></i> </span> </a>
         <ul class="treeview-menu ">
            <li routerLinkActive="active"><a routerLink="/WellLocation" >Location</a></li>
            <li routerLinkActive="active"><a routerLink="/WellDetails">Well Details</a></li>
            <li routerLinkActive="active"><a routerLink="/EspManagement">ESP Management</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <span>Well 4</span> <i class="fa fa-circle-o text-yellow pull-right"></i> <span class="pull-right-container"> <i class="fa fa-anglde-left pull-right"></i> </span> </a>
          <ul class="treeview-menu ">
            <li ><a routerLink="/WellLocation" >Location</a></li>
            <li routerLinkActive="active"><a routerLink="/WellDetails">Well Details</a></li>
            <li routerLinkActive="active"><a routerLink="/EspManagement">ESP Management</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <span>Well 5</span> <i class="fa fa-circle-o text-yellow pull-right"></i> <span class="pull-right-container"> <i class="fa fa-anglde-left pull-right"></i> </span> </a>
          <ul class="treeview-menu ">
            <li routerLinkActive="active"><a routerLink="/WellLocation" >Location</a></li>
            <li routerLinkActive="active"><a routerLink="/WellDetails">Well Details</a></li>
            <li routerLinkActive="active"><a routerLink="/EspManagement">ESP Management</a></li>
          </ul>
        </li>
      </ul>
      <div class="bottom-icons">
        <ul>
          <li class="active"> <i class="fa fa-circle-o "></i></li>
          <li> <i class="fa fa-star-o"></i></li>
          <li> <i class="fa fa-exclamation-triangle"></i></li>
        </ul>
      </div>
    </section>
    <!-- /.sidebar
  </aside>-->



<aside class="main-sidebar">
    <section class="sidebar">
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control color" placeholder="Search...">
          <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
          </span> </div>
      </form>
      <ul class="sidebar-menu">
        <li class="active treeview"> <a href="#"> <span>Well 1</span>
			<span class="pull-right-container"> <span class="fa-star-icon"><i class="fa fa-star text-orange"> </i></span> 
			<img src="../../assets/dist/img/left-icon-1.png" alt="" class="left-img-icon"  /> </span> </a>
          <ul class="treeview-menu ">
            <li routerLinkActive="active"><a routerLink="/WellLocation" >Location</a></li>
            <li routerLinkActive="active"><a routerLink="/WellDetails">Well Details</a></li>
            <li routerLinkActive="active"><a routerLink="/EspManagement">ESP Management</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <span>Well 2</span><span class="pull-right-container"> <span class="fa-star-icon"><i class="fa fa-star-o"> </i></span> 
			<img src="../../assets/dist/img/well-icon-red.png" alt="" class="left-img-icon"  /> </span> </a>
         <ul class="treeview-menu ">
            <li routerLinkActive="active"><a routerLink="/WellLocation" >Location</a></li>
            <li routerLinkActive="active"><a routerLink="/WellDetails">Well Details</a></li>
            <li routerLinkActive="active"><a routerLink="/EspManagement">ESP Management</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <span>Well 3</span> <span class="pull-right-container"> <span class="fa-star-icon"><i class="fa fa-star-o"> </i></span> 
			<img src="../../assets/dist/img/pump-icon-red.png" alt="" class="left-img-icon"  /> </span> </a>
          <ul class="treeview-menu">
            <li class=""><a href="#">Location</a></li>
            <li><a href="#">Well Details</a></li>
            <li><a href="#">ESP Management</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <span>Well 4</span> <span class="pull-right-container"> <span class="fa-star-icon"><i class="fa fa-star-o"> </i></span> 
			<img src="../../assets/dist/img/well-icon-green.png" alt="" class="left-img-icon"  /> </span> </a>
         <ul class="treeview-menu ">
            <li routerLinkActive="active"><a routerLink="/WellLocation" >Location</a></li>
            <li routerLinkActive="active"><a routerLink="/WellDetails">Well Details</a></li>
            <li routerLinkActive="active"><a routerLink="/EspManagement">ESP Management</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <span>Well 5</span> <span class="pull-right-container"> <span class="fa-star-icon"><i class="fa fa-star text-orange"> </i></span> 
			<img src="../../assets/dist/img/well-icon-yellowOrnage.png" class="left-img-icon" alt=""  /> </span> </a>
          <ul class="treeview-menu ">
            <li routerLinkActive="active"><a routerLink="/WellLocation" >Location</a></li>
            <li routerLinkActive="active"><a routerLink="/WellDetails">Well Details</a></li>
            <li routerLinkActive="active"><a routerLink="/EspManagement">ESP Management</a></li>
          </ul>
        </li>
      </ul>
      <div class="bottom-icons">
        <ul>
          <li class="active"> <i class="fa fa-circle-o "></i></li>
          <li> <i class="fa fa-star-o"></i></li>
          <li> <i class="fa fa-exclamation-triangle"></i></li>
        </ul>
      </div>
    </section>
    <!-- /.sidebar --> 
  </aside>
