<section class="allarm_bottom">
      <div class="row">
        <div class="col-md-12" style="margin:0px 0px; padding: 0px;">
          <div class="">
            <div class="allarm-events">
              <marquee scrollamount="4" scrolldelay="2" direction="left" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start();">
              <div class="marquee-scroller">
                <ul class="inline">
                  <li> <img src="../../assets/dist/img/img-icon-4.png" width="30" height="30" alt="">Well 1 : Low Low <i class="fa fa-long-arrow-up" aria-hidden="true"></i> </li>
                  <li> <img src="../../assets/dist/img/img-icon-2.png" width="30" height="30" alt=""> Well 2 : High High <i class="fa fa-times"></i> </li>
                  <li><img src="../../assets/dist/img/img-icon-6.png" width="30" height="30" alt=""> Well 3 : High <i class="fa fa-long-arrow-up" aria-hidden="true"></i> </li>
                  <li> <img src="../../assets/dist/img/img-icon-4.png" width="30" height="30" alt="">Well 4 : Low <i class="fa fa-long-arrow-up" aria-hidden="true"></i> </li>
                  <li> <img src="../../assets/dist/img/img-icon-4.png" width="30" height="30" alt="">Well 5 : Low <i class="fa fa-long-arrow-up" aria-hidden="true"></i></li>
                  <li> <img src="../../assets/dist/img/img-icon-5.png" width="30" height="30" alt="">Well 6 : Low <i class="fa fa-long-arrow-down" aria-hidden="true"></i> </li>
                  <li> <img src="../../assets/dist/img/img-icon-2.png" width="30" height="30" alt=""> Well 7 :  Low Low <i class="fa fa-long-arrow-up"></i></li>
                  <li> <img src="../../assets/dist/img/img-icon-2.png" width="30" height="30" alt=""> Well 8 :  High High <i class="fa fa-times"></i></li>
                </ul>
              </div>
              </marquee>
            </div>
          </div>
        </div>
      </div>
    </section>