<section class="esp-troubleshoot">
  <div class="breadcrumbs">
    <ol class="breadcrumb">
      <li><a href="index_map.html"> Home </a></li>
      <li class="active"> ESP Troubleshoot </li>
    </ol>
  </div>
  <div class="box no-border">
    <div class="box-header border-bottom">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-sm-3">
          <div class="title_np"><span>ESP</span> Troubleshoot </div>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="text-color padding-t"> Date Range </p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="mui-textfield input-text ">
              <input type="text" id="" placeholder="Start Date" class="datepicker">
              <i class="fa fa-calendar text-color input-calender"> </i> </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <p class="text-color padding-t">To </p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="mui-textfield input-text">
              <input type="text" id="" placeholder="End Date" class="datepicker">
              <i class="fa fa-calendar text-color input-calender"> </i> </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="text-color padding-t"> Business Unit </p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="mui-select" tabindex="0" style="margin: -8px 0px 0px 0px">
              <select tabindex="-1">
                <option> Select </option>
                <option>Model 2</option>
                <option>Model 3</option>
                <option>Model 4</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="padding-t">
            <button type="button" class="btn btn-primary"> Submit </button>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="col-sm-4"> </div>
          <div class="col-sm-8">
            <p class="text-color padding-t pull-right"> <a data-toggle="modal" data-target="#espTroubleshoot"><strong>+ Add New</strong></a> </p>
          </div>
        </div>
      </div>
      <div class="border-top margin-top-1 margin-bottom"> </div>
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th> Priority</th>
              <th> SI Well</th>
              <th> Potential</th>
              <th> Last week t/s</th>
              <th> Trip date</th>
              <th> restart date</th>
              <th> well status</th>
              <th> progress</th>
              <th> this week t/s plan</th>
              <th> this week t/s plan</th>
              <th> days to t/s</th>
              <th> Resources needed</th>
              <th> Pump Type</th>
              <th> Install Date</th>
              <th> Run Life</th>
              <th> Actions </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 PWL</td>
              <td>WINA-C13</td>
              <td>44</td>
              <td>Watered out, keep shut in as PE request. </td>
              <td>27 Jul, 2017</td>
              <td>27 Jul, 2017</td>
              <td>Running</td>
              <td>Done</td>
              <td>T/S today.</td>
              <td>--</td>
              <td>--</td>
              <td>PWL reps, Prod Spv</td>
              <td>QM200</td>
              <td>1 Oct,2017</td>
              <td>--</td>
              <td class="action-icons"><span> <img src="../../assets/dist/images/action_edit.png" alt="Edit" /> </span> <span> <img src="../../assets/dist/images/action_delete.png" alt="Delete" /> </span></td>
            </tr>
            <tr>
              <td>1 PWL</td>
              <td>WINA-C13</td>
              <td>44</td>
              <td>Watered out, keep shut in as PE request. </td>
              <td>27 Jul, 2017</td>
              <td>27 Jul, 2017</td>
              <td>Running</td>
              <td>Done</td>
              <td>T/S today.</td>
              <td>--</td>
              <td>--</td>
              <td>PWL reps, Prod Spv</td>
              <td>QM200</td>
              <td>1 Oct,2017</td>
              <td>--</td>
              <td class="action-icons"><span> <img src="../../assets/dist/images/action_edit.png" alt="Edit" /> </span> <span> <img src="../../assets/dist/images/action_delete.png" alt="Delete" /> </span></td>
            </tr>
            <tr>
              <td>1 PWL</td>
              <td>WINA-C13</td>
              <td>44</td>
              <td>Watered out, keep shut in as PE request. </td>
              <td>27 Jul, 2017</td>
              <td>27 Jul, 2017</td>
              <td>Running</td>
              <td>Done</td>
              <td>T/S today.</td>
              <td>--</td>
              <td>--</td>
              <td>PWL reps, Prod Spv</td>
              <td>QM200</td>
              <td>1 Oct,2017</td>
              <td>--</td>
              <td class="action-icons"><span> <img src="../../assets/dist/images/action_edit.png" alt="Edit" /> </span> <span> <img src="../../assets/dist/images/action_delete.png" alt="Delete" /> </span></td>
            </tr>
            <tr>
              <td>1 PWL</td>
              <td>WINA-C13</td>
              <td>44</td>
              <td>Watered out, keep shut in as PE request. </td>
              <td>27 Jul, 2017</td>
              <td>27 Jul, 2017</td>
              <td>Running</td>
              <td>Done</td>
              <td>T/S today.</td>
              <td>--</td>
              <td>--</td>
              <td>PWL reps, Prod Spv</td>
              <td>QM200</td>
              <td>1 Oct,2017</td>
              <td>--</td>
              <td class="action-icons"><span> <img src="../../assets/dist/images/action_edit.png" alt="Edit" /> </span> <span> <img src="../../assets/dist/images/action_delete.png" alt="Delete" /> </span></td>
            </tr>
            <tr>
              <td>1 PWL</td>
              <td>WINA-C13</td>
              <td>44</td>
              <td>Watered out, keep shut in as PE request. </td>
              <td>27 Jul, 2017</td>
              <td>27 Jul, 2017</td>
              <td>Running</td>
              <td>Done</td>
              <td>T/S today.</td>
              <td>--</td>
              <td>--</td>
              <td>PWL reps, Prod Spv</td>
              <td>QM200</td>
              <td>1 Oct,2017</td>
              <td>--</td>
              <td class="action-icons"><span> <img src="../../assets/dist/images/action_edit.png" alt="Edit" /> </span> <span> <img src="../../assets/dist/images/action_delete.png" alt="Delete" /> </span></td>
            </tr>
            <tr>
              <td>1 PWL</td>
              <td>WINA-C13</td>
              <td>44</td>
              <td>Watered out, keep shut in as PE request. </td>
              <td>27 Jul, 2017</td>
              <td>27 Jul, 2017</td>
              <td>Running</td>
              <td>Done</td>
              <td>T/S today.</td>
              <td>--</td>
              <td>--</td>
              <td>PWL reps, Prod Spv</td>
              <td>QM200</td>
              <td>1 Oct,2017</td>
              <td>--</td>
              <td class="action-icons"><span> <img src="../../assets/dist/images/action_edit.png" alt="Edit" /> </span> <span> <img src="../../assets/dist/images/action_delete.png" alt="Delete" /> </span></td>
            </tr>
            <tr>
              <td>1 PWL</td>
              <td>WINA-C13</td>
              <td>44</td>
              <td>Watered out, keep shut in as PE request. </td>
              <td>27 Jul, 2017</td>
              <td>27 Jul, 2017</td>
              <td>Running</td>
              <td>Done</td>
              <td>T/S today.</td>
              <td>--</td>
              <td>--</td>
              <td>PWL reps, Prod Spv</td>
              <td>QM200</td>
              <td>1 Oct,2017</td>
              <td>--</td>
              <td class="action-icons"><span> <img src="../../assets/dist/images/action_edit.png" alt="Edit" /> </span> <span> <img src="../../assets/dist/images/action_delete.png" alt="Delete" /> </span></td>
            </tr>
            <tr class="border-bottom border-top">
              <td colspan="16"></td>
            </tr>
            <tr>
              <td>1 PWL</td>
              <td>WINA-C13</td>
              <td>44</td>
              <td>Watered out, keep shut in as PE request. </td>
              <td>27 Jul, 2017</td>
              <td>27 Jul, 2017</td>
              <td>Running</td>
              <td>Done</td>
              <td>T/S today.</td>
              <td>--</td>
              <td>--</td>
              <td>PWL reps, Prod Spv</td>
              <td>QM200</td>
              <td>1 Oct,2017</td>
              <td>--</td>
              <td class="action-icons"><span> <img src="../../assets/dist/images/action_edit.png" alt="Edit" /> </span> <span> <img src="../../assets/dist/images/action_delete.png" alt="Delete" /> </span></td>
            </tr>
            <tr>
              <td>1 PWL</td>
              <td>WINA-C13</td>
              <td>44</td>
              <td>Watered out, keep shut in as PE request. </td>
              <td>27 Jul, 2017</td>
              <td>27 Jul, 2017</td>
              <td>Running</td>
              <td>Done</td>
              <td>T/S today.</td>
              <td>--</td>
              <td>--</td>
              <td>PWL reps, Prod Spv</td>
              <td>QM200</td>
              <td>1 Oct,2017</td>
              <td>--</td>
              <td class="action-icons"><span> <img src="../../assets/dist/images/action_edit.png" alt="Edit" /> </span> <span> <img src="../../assets/dist/images/action_delete.png" alt="Delete" /> </span></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12 col-xs-offset-5">
            <ul class="pagination">
              <li ><a href="#"> <i class="fa fa-angle-left"></i> </a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"> <i class="fa fa-angle-right"></i> </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!----------ESp Troubleshoot-popup--------------------------------------------------------------->
<div class="espTroubleshoot-popup" >
  <div class="modal fade product_view" id="espTroubleshoot" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <h3><span>Ne</span>w Troubleshoot </h3>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-right">
                <button type="button" class="btn btn" data-dismiss="modal"> Cancel </button>
                <button type="button" class="btn btn"> Submit </button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>Business Unit</h4>
                <div class="mui-select" tabindex="0">
                  <select tabindex="-1">
                    <option>Select</option>
                    <option>Business Unit 2</option>
                    <option>Business Unit 3</option>
                    <option>Business Unit 4</option>
                  </select>
                  <div class="mui-event-trigger"></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>Last Week T/S</h4>
                <div class="mui-textfield" tabindex="0">
                  <input type="text" id="" name="" >
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>Well Status</h4>
                <div class="mui-textfield" tabindex="0">
                  <input type="text" id="" name="" >
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>Pump Type</h4>
                <div class="mui-textfield" tabindex="0">
                  <input type="text" id="" name="" >
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>Well Name</h4>
                <div class="mui-select" tabindex="0">
                  <select tabindex="-1">
                    <option>Select</option>
                    <option>Well Name 2</option>
                    <option>Well Name 3</option>
                    <option>Well Name 4</option>
                  </select>
                  <div class="mui-event-trigger"></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>Trip Date</h4>
                <div class="mui-textfield">
                  <input type="text" id="" placeholder="28-02-2018" class="datepicker">
                  <i class="fa fa-calendar text-color input-calender"> </i> </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>This Week Plan</h4>
                <div class="mui-textfield" tabindex="0">
                  <input type="text" id="" name="" >
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>Install Date</h4>
                <div class="mui-textfield">
                  <input type="text" id="" placeholder="28-02-2018" class="datepicker">
                  <i class="fa fa-calendar text-color input-calender"> </i> </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>PRIORITY</h4>
                <div class="mui-select" tabindex="0">
                  <select tabindex="-1">
                    <option>Model 1</option>
                    <option>Model 2</option>
                    <option>Model 3</option>
                    <option>Model 4</option>
                  </select>
                  <div class="mui-event-trigger"></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>RESTART DATE</h4>
                <div class="mui-textfield">
                  <input type="text" id="" placeholder="28-02-2018" class="datepicker">
                  <i class="fa fa-calendar text-color input-calender"> </i> </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>Resource Needed</h4>
                <div class="mui-textfield" tabindex="0">
                  <input type="text" id="" name="" >
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>Run Life</h4>
                <div class="mui-select" tabindex="0">
                  <select tabindex="-1">
                    <option>Model 1</option>
                    <option>Model 2</option>
                    <option>Model 3</option>
                    <option>Model 4</option>
                  </select>
                  <div class="mui-event-trigger"></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4>Progress</h4>
                <div class="mui-select" tabindex="0">
                  <select tabindex="-1">
                    <option>Select</option>
                    <option>Model 2</option>
                    <option>Model 3</option>
                    <option>Model 4</option>
                  </select>
                  <div class="mui-event-trigger"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body --> 
        
      </div>
    </div>
  </div>
</div>
