
<div class="content-wrapper">  <a href="#" data-toggle="offcanvas" role="button" class="sidebar-toggle" > <span class="fa fa-chevron-left"></span> <!--<span class=""> <img src="dist/img/arrow-menu.png" alt="" /> </span>--> </a> 
   <a href="#" data-toggle="offcanvas" role="button" class="sidebar-toggle" > <span class="fa fa-chevron-left"></span> <!--<span class=""> <img src="dist/img/arrow-menu.png" alt="" /> </span>--> </a>
    <!-- Main content -->
    <section class="content">
		<router-outlet> 
      </router-outlet> 
</section>
</div>