<section class="fluids-data-section border-bottom">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-7">
          <div class="title_np"><span>We</span>llbore Data </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-5">
          <button type="button" class="btn btn">Edit</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <p>Top of the Perforations: - <span class="text-color">ft</span></p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <p>Well Head Pressure: - <span class="text-color">psig</span></p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 marg-t-15">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="mui-select" tabindex="0"> <span class="textLabel">ANALYSIS</span>
            <select tabindex="-1">
              <option>Nodal</option>
              <option>Gradient</option>
            </select>
            <div class="mui-event-trigger"></div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="mui-select" tabindex="0"> <span class="textLabel">FLOW DIRECTION</span>
            <select tabindex="-1">
              <option> Production </option>
              <option> Injection </option>
            </select>
            <div class="mui-event-trigger"></div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="mui-select" tabindex="0"> <span class="textLabel">NODE POSITION</span>
            <select tabindex="-1">
              <option>Bottomhole </option>
              <option>Wellhead</option>
            </select>
            <div class="mui-event-trigger"></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="mui-select" tabindex="0"> <span class="textLabel">WELL BORE FLOW CORRELATION</span>
            <select tabindex="-1">
              <option>Model 1 </option>
              <option>Model 2 </option>
              <option>Model 3 </option>
            </select>
            <div class="mui-event-trigger"></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="mui-select" tabindex="0"> <span class="textLabel">HORIZONTAL FLOW CORRELATION</span>
            <select tabindex="-1">
              <option>Model 1 </option>
              <option>Model 2 </option>
              <option>Model 3 </option>
            </select>
            <div class="mui-event-trigger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row padding-top-20">
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="title_np "><span>Ca</span>sing Information </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="mui-select" tabindex="0"> <span class="textLabel casing_information_select_test_head">OD ID WEIGHT</span>
            <select class="casing_information_select_test_label" tabindex="-1">
              <option>1.060 0.220 1.4</option>
              <option>2.136 0.520 1.8</option>
              <option>3.478 0.720 2.6</option>
              <option>4.536 0.920 3.1</option>
            </select>
            <div class="mui-event-trigger"></div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>S.No</th>
              <th>TOP</th>
              <th>Bottom</th>
              <th>OD</th>
              <th>ID</th>
              <th>ROUGHNESS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>0</td>
              <td>1000</td>
              <td><input type="text" class="tblInput" name=""></td>
              <td><input type="text" class="tblInput" name=""></td>
              <td><input type="text" class="tblInput" name=""></td>
            </tr>
            <tr>
              <td>2</td>
              <td>1000</td>
              <td>2000</td>
              <td><input type="text" class="tblInput" name=""></td>
              <td><input type="text" class="tblInput" name=""></td>
              <td><input type="text" class="tblInput" name=""></td>
            </tr>
            <tr>
              <td>3</td>
              <td>2000</td>
              <td>3000</td>
              <td><input type="text" class="tblInput" name=""></td>
              <td><input type="text" class="tblInput" name=""></td>
              <td><input type="text" class="tblInput" name=""></td>
            </tr>
            <tr>
              <td>4</td>
              <td>3000</td>
              <td>4000</td>
              <td><input type="text" class="tblInput" name=""></td>
              <td><input type="text" class="tblInput" name=""></td>
              <td><input type="text" class="tblInput" name=""></td>
            </tr>
            <tr>
              <td>5</td>
              <td>4000</td>
              <td>5000</td>
              <td><input type="text" class="tblInput" name=""></td>
              <td><input type="text" class="tblInput" name=""></td>
              <td><input type="text" class="tblInput" name=""></td>
            </tr>
          </tbody>
          <tfoot>
            <tr> </tr>
          </tfoot>
        </table>
      </div>
      <div class="row margin-top-15">
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="title_np "><span>Tu</span>bing Information </div>
            </div>
            <div class="col-sm-6">
              <div class="mui-select" tabindex="0"> <span class="textLabel casing_information_select_test_head">OD ID WEIGHT</span>
                <select class="casing_information_select_test_label" tabindex="-1">
                  <option>1.060 0.220 1.4</option>
                  <option>2.136 0.520 1.8</option>
                  <option>3.478 0.720 2.6</option>
                  <option>4.536 0.920 3.1</option>
                </select>
                <div class="mui-event-trigger"></div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>TOP</th>
                  <th>Bottom</th>
                  <th>OD</th>
                  <th>ID</th>
                  <th>ROUGHNESS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>0</td>
                  <td>1000</td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>1000</td>
                  <td>2000</td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>2000</td>
                  <td>3000</td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>3000</td>
                  <td>4000</td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>4000</td>
                  <td>5000</td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                </tr>
              </tbody>
              <tfoot>
                <tr> </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="title_np"><span>Su</span>rface Pipe </h4>
          <div class="clearfix margin-bottom-15"></div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Distance</th>
                  <th>ID</th>
                  <th>ROUGHNESS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>1000</td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>2000</td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>3000</td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>4000</td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>5000</td>
                  <td><input type="text" class="tblInput" name=""></td>
                  <td><input type="text" class="tblInput" name=""></td>
                </tr>
              </tbody>
              <tfoot>
                <tr> </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="row margin-top-15">
        <div class="col-md-6"> <span><a href="#" class="dropdown-toggle" data-toggle="modal" data-target="#directional_survey"><u>Directional Survey</u></a></span> </div>
        <div class="col-md-6"> </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="title_np"><span>Da</span>ta History</div>
          <div class="">
            <div class="marg-t-15">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <p class="text-color"> Date Range </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="mui-textfield" style="padding: 0px; margin: -10px 0px 10px 0px">
                    <input type="text" id="datepicker" placeholder="Start Date" class="datepicker ">
                    <i class="fa fa-calendar text-color input-calender"> </i> </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <p class="text-color">To </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="mui-textfield" style="padding: 0px; margin: -10px 0px 10px 0px">
                    <input type="text" id="" placeholder="End Date" class="datepicker ">
                    <i class="fa fa-calendar text-color input-calender"> </i> </div>
                </div>
              </div>
              <div class="marg-t-15">
                <div class="row ">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="mui-select" style="padding: 0px; margin: -10px 0px 10px 0px" tabindex="0">
                      <select tabindex="-1">
                        <option>Graph</option>
                        <option>Table</option>
                      </select>
                      <div class="mui-event-trigger"></div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="mui-select" style="padding: 0px; margin: -10px 0px 10px 0px" tabindex="0">
                      <select tabindex="-1">
                        <option>Top of the Perforations</option>
                        <option>Wellhead Pressure</option>
                      </select>
                      <div class="mui-event-trigger"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div><img class="img-responsive" src="../../assets/dist/images/data_history_graph.jpg" alt=""></div>
        </div>
      </div>
      <div class="col-md-12 padding-top-20">
        <div class="title_np"><span>In</span>flow vs Outflow</div>
        <div class="row">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-md-5 text-color"> </div>
            <div class="col-md-5">
              <div class="mui-select" style="padding: 0px; margin: -10px 0px 10px 0px" tabindex="0">
                <select tabindex="-1">
                  <option>Model 1</option>
                  <option>Model 2</option>
                  <option>Model 3</option>
                  <option>Model 4</option>
                </select>
                <div class="mui-event-trigger"></div>
              </div>
            </div>
          </div>
        </div>
        <div><img class="img-responsive" src="../../assets/dist/images/Inflow_vs_Outflow.jpg" alt=""></div>
      </div>
      <div class="col-md-12 padding-top-20">
        <div class="title_np"><span>We</span>llbore Flowing Pressure vs Flow Rate</div>
        <div class="row">
          <div class="row marg-t-15">
            <div class="col-lg-2"></div>
            <div class="col-md-5 text-color"> </div>
            <div class="col-md-5">
              <div class="mui-select" style="padding: 0px; margin: -10px 0px 10px 0px" tabindex="0">
                <select tabindex="-1">
                  <option>Model 1</option>
                  <option>Model 2</option>
                  <option>Model 3</option>
                  <option>Model 4</option>
                </select>
                <div class="mui-event-trigger"></div>
              </div>
            </div>
          </div>
        </div>
        <div><img class="img-responsive" src="../../assets/dist/images/Wellbore_Flowing_Pressure_vs_Flow_Rate.jpg" alt=""></div>
      </div>
    </div>
  </div>
</section>

<!-------------------------------------------------------------->
<div class="alarm-notification-sec">
  <div class="modal fade product_view" id="directional_survey" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close alaramclose" data-dismiss="modal"> <img src="../../assets/dist/img/close_btn.png" alt=""></button>
          <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-lg-6">
                <div class="title_np "><span>Di</span>rectional Survey</div>
              </div>
              <div class="col-sm-3 text-right">
                <div class="mui-select" style="padding: 0;" tabindex="0">
                  <select tabindex="-1">
                    <option>Table</option>
                    <option>Graph</option>
                  </select>
                  <div class="mui-event-trigger"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div id="myTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="dataTables_length pull-right" id="myTable_length">
                        <label>Show
                          <select name="myTable_length" aria-controls="myTable" class="form-control input-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          entries</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div id="myTable_filter" class="dataTables_filter">
                        <label>
                          <input type="search" class="form-control input-sm" placeholder="Search" aria-controls="myTable">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="table-responsive"><table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="myTable_info">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>MD</th>
                            <th>TVD</th>
                            <th>ANGLE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>182</td>
                            <td>181.999</td>
                            <td>45</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>282</td>
                            <td>281.997</td>
                            <td>60</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>359</td>
                            <td>358.994</td>
                            <td>70</td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>450</td>
                            <td>450.562</td>
                            <td>80</td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>182</td>
                            <td>181.999</td>
                            <td>45</td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>282</td>
                            <td>281.997</td>
                            <td>60</td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>359</td>
                            <td>358.994</td>
                            <td>70</td>
                          </tr>
                          <tr>
                            <td>8</td>
                            <td>450</td>
                            <td>450.562</td>
                            <td>80</td>
                          </tr>
                        </tbody>
                      </table></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="dataTables_info" id="myTable_info" role="status" aria-live="polite">Showing 1 to 8 of 8 entries</div>
                    </div>
                    <div class="col-sm-7">
                      <div class="dataTables_paginate paging_simple_numbers" id="myTable_paginate">
                        <ul class="pagination">
                          <li class="paginate_button previous disabled" id="myTable_previous"><a href="#" aria-controls="myTable" data-dt-idx="0" tabindex="0">Previous</a></li>
                          <li class="paginate_button active"><a href="#" aria-controls="myTable" data-dt-idx="1" tabindex="0">1</a></li>
                          <li class="paginate_button next disabled" id="myTable_next"><a href="#" aria-controls="myTable" data-dt-idx="2" tabindex="0">Next</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button type="button" class="btn btn" data-dismiss="modal">Import </button>
                  <button type="button" class="btn btn"> Export</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body --> 
        
      </div>
    </div>
  </div>
</div>
