<section class="alarms-section">
  <div class="breadcrumbs">
    <ol class="breadcrumb">
      <li><a href="index_map.html"> Home </a></li>
      <li class="active"> Well Dashboard </li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-2 colmd-2 colsm-6 col-zs-12">
      <div class="box no-border">
        <div class="box-body">
          <div class="alaram-box box-gray">
            <div class=""> 90 </div>
            <div class=""> ALARMS TOTAL </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 colmd-2 colsm-6 col-zs-12">
      <div class="box no-border">
        <div class="box-body box-gray">
          <div class="alaram-box">
            <div class=""> 20 </div>
            <div class=""> NOT Acknowledged </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 colmd-2 colsm-6 col-zs-12">
      <div class="box no-border">
        <div class="box-body">
          <div class="alaram-box box-green">
            <div class=""> 15 </div>
            <div class=""> VER LOW </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 colmd-2 colsm-6 col-zs-12">
      <div class="box no-border">
        <div class="box-body">
          <div class="alaram-box box-orange">
            <div class=""> 15 </div>
            <div class=""> NOT Acknowledged </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 colmd-2 colsm-6 col-zs-12">
      <div class="box no-border">
        <div class="box-body box-aqua">
          <div class="alaram-box">
            <div class=""> 15 </div>
            <div class=""> LOW </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 colmd-2 colsm-6 col-zs-12">
      <div class="box no-border">
        <div class="box-body">
          <div class="alaram-box box-purple">
            <div class=""> 15 </div>
            <div class=""> HIGH </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box no-border">
    <div class="box-header">
      <div class="col-lg-9 col-md-9 col-sm-6 col-sm-12">
        <div class="title_np"><span>Ala</span>rms</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
        <div class="filterby">
          <label> Filter by </label>
          <select>
            <option value="volvo"> All </option>
          </select>
        </div>
      </div>
    </div>
    <div class="box-body sim-scroll-alarms">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th> Actions </th>
              <th> Well Name</th>
              <th> Date and Time </th>
              <th> Status</th>
              <th> Parameter</th>
              <th> Value</th>
              <th> Cleint Notified </th>
              <th> Acknowledged By </th>
              <th> SMS </th>
              <th> Email Sent </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <div class="checkbox icheck ">
            <label>
            <div class="icheckbox_square-green">
              <input type="checkbox" checked >
              <ins class="iCheck-helper"></ins></div>
            </label>
          </div> </td>
              <td>A102</td>
              <td>2017-Mar-01 10:32</td>
              <td>WO Instalation</td>
              <td>Discharge Pressure</td>
              <td>22531</td>
              <td>NO</td>
              <td>James Ellsworth</td>
              <td>RICO</td>
              <td>NO</td>
            </tr>
            <tr>
               <td> <div class="checkbox icheck">
            <label>
            <div class="icheckbox_square-green">
              <input type="checkbox" checked >
              <ins class="iCheck-helper"></ins></div>
            </label>
          </div> </td>
              <td>A102</td>
              <td>2017-Mar-01 10:32</td>
              <td>WO Instalation</td>
              <td>Discharge Pressure</td>
              <td>22531</td>
              <td>NO</td>
              <td>James Ellsworth</td>
              <td>RICO</td>
              <td>NO</td>
            </tr>
            <tr>
              <td> <div class="checkbox icheck ">
            <label>
            <div class="icheckbox_square-green">
              <input type="checkbox">
              <ins class="iCheck-helper"></ins></div>
            </label>
          </div> </td>
              <td>A102</td>
              <td>2017-Mar-01 10:32</td>
              <td>WO Instalation</td>
              <td>Discharge Pressure</td>
              <td>22531</td>
              <td>NO</td>
              <td>James Ellsworth</td>
              <td>RICO</td>
              <td>NO</td>
            </tr>
            <tr>
             <td> <div class="checkbox icheck ">
            <label>
            <div class="icheckbox_square-green">
              <input type="checkbox">
              <ins class="iCheck-helper"></ins></div>
            </label>
          </div> </td>
              <td>A102</td>
              <td>2017-Mar-01 10:32</td>
              <td>WO Instalation</td>
              <td>Discharge Pressure</td>
              <td>22531</td>
              <td>NO</td>
              <td>James Ellsworth</td>
              <td>RICO</td>
              <td>NO</td>
            </tr>
            <tr>
               <td> <div class="checkbox icheck ">
            <label>
            <div class="icheckbox_square-green">
              <input type="checkbox">
              <ins class="iCheck-helper"></ins></div>
            </label>
          </div> </td>
              <td>A102</td>
              <td>2017-Mar-01 10:32</td>
              <td>WO Instalation</td>
              <td>Discharge Pressure</td>
              <td>22531</td>
              <td>NO</td>
              <td>James Ellsworth</td>
              <td>RICO</td>
              <td>NO</td>
            </tr>
            <tr>
             <td> <div class="checkbox icheck ">
            <label>
            <div class="icheckbox_square-green">
              <input type="checkbox">
              <ins class="iCheck-helper"></ins></div>
            </label>
          </div> </td>
              <td>A102</td>
              <td>2017-Mar-01 10:32</td>
              <td>WO Instalation</td>
              <td>Discharge Pressure</td>
              <td>22531</td>
              <td>NO</td>
              <td>James Ellsworth</td>
              <td>RICO</td>
              <td>NO</td>
            </tr>
            <tr>
              <td> <div class="checkbox icheck checked ">
            <label>
            <div class="icheckbox_square-green">
              <input type="checkbox" checked>
              <ins class="iCheck-helper"></ins></div>
            </label>
          </div> </td>
              <td>A102</td>
              <td>2017-Mar-01 10:32</td>
              <td>WO Instalation</td>
              <td>Discharge Pressure</td>
              <td>22531</td>
              <td>NO</td>
              <td>James Ellsworth</td>
              <td>RICO</td>
              <td>NO</td>
            </tr>
            <tr>
              <td> <div class="checkbox icheck ">
            <label>
            <div class="icheckbox_square-green">
              <input type="checkbox" checked />
              <ins class="iCheck-helper"></ins></div>
            </label>
          </div> </td>
              <td>A102</td>
              <td>2017-Mar-01 10:32</td>
              <td>WO Instalation</td>
              <td>Discharge Pressure</td>
              <td>22531</td>
              <td>NO</td>
              <td>James Ellsworth</td>
              <td>RICO</td>
              <td>NO</td>
            </tr>
          </tbody>
        </table>
        <!--<div class="row">
              <div class="col-sm-12 col-xs-offset-5">
                <ul class="pagination">
                  <li><a href="#"> <i class="fa fa-angle-left"></i> </a></li>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#"> <i class="fa fa-angle-right"></i> </a></li>
                </ul>
              </div>
            </div>--> 
      </div>
    </div>
  </div>
  <div class="box no-border">
    <div class="box-header">
      <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
        <div class="title_np"><span>Ass</span>ets Status</div>
      </div>
    </div>
    <div class="box-body">
      <div class="col-sm-12 marg-t-15">
        <div class="col-lg-2 text-red"><i class="fa fa-circle"></i> Failed= 16</div>
        <div class="col-lg-2 text-brown border-lr"><i class="fa fa-circle"></i> WO Opt=10</div>
        <div class="col-lg-2 text-yellowOrange"><i class="fa fa-circle"></i> Stopped= 17</div>
        <div class="col-lg-2 text-brown-light border-lr"><i class="fa fa-circle"></i>WO Installation=4</div>
        <div class="col-lg-2 text-green "><i class="fa fa-circle"></i> Running=4</div>
        <div class="col-lg-2 text-dark border-l"><i class="fa fa-circle"></i> WO Pull=19</div>
      </div>
    </div>
	 <div class="row">
	  <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 ">
		<div class="pull-right padding-25"> <button class="btn btn-primary disabled" type="button" disabled> Export Data </button>
		 <button class="btn btn-primary disabled" type="button" disabled> Email Data </button></div>
	
	  </div>
	  
	 </div>
  </div>
</section>
