<div class="row">
        <div class="col-md-12">
          <div class="map-location"> <img class="img-responsive" src="../../assets/dist/img/map.jpg" alt="" />
            <div class="map_location1"> <img src="../../assets/dist/img/img-icon-1.png" width="80" height="80" alt=""/></div>
            <div class="map_location2"> <img src="../../assets/dist/img/img-icon-2.png" width="80" height="80" alt=""/></div>
            <div class="map_location3"> <img src="../../assets/dist/img/img-icon-3.png" width="80" height="80" alt=""/></div>
            <div class="map_location4"> <img src="../../assets/dist/img/img-icon-4.png" width="80" height="80" alt=""/></div>
            <div class="map_location5"> <img src="../../assets/dist/img/img-icon-5.png" width="80" height="80" alt=""/></div>
            <div class="map_location6"> <a href="#" data-toggle="modal" data-target="#product_viewgreen"><img src="../../assets/dist/img/img-icon-6.png" width="80" height="80" alt=""/></a></div>
          </div>
        </div>
      </div>
      <div>
        <div class="filter-sec">
          <div class="filter-button"> <a href="#overlay" id="open-overlay"><img src="../../assets/dist/img/filter-icon.png" alt=""></a> </div>
        </div>
        <div id="overlay">
          <div class="overlay-icons">
            <ul>
              <li class="filter_one"> <img  src="../../assets/dist/img/popup-filter-icon1.png"> </li>
              <li> <img src="../../assets/dist/img/popup-filter-icon2.png" alt=""> </li>
              <li> <img src="../../assets/dist/img/popup-filter-icon3.png" alt=""></li>
              <li> <img src="../../assets/dist/img/popup-filter-icon4.png" alt=""> </li>
              <li> <img src="../../assets/dist/img/popup-filter-icon5.png" alt=""> </li>
              <li> <a href="#" class="close_btn"> <img src="../../assets/dist/img/filter-close.png" alt=""></a> </li>
            </ul>
            <div class="pop-up">
              <h3>Filter by Formation</h3>
              <input type="search" class="" placeholder="Type Formation" >
              <p></p>
              <div class="arrow-down"></div>
            </div>
          </div>
        </div>
      </div>
	