<section class="well-analysis-section">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <div class="title_np"><span>No</span>dal Analysis Curve</div>
        </div>
      </div>
      <div class="padding-top-20"><img class="img-responsive" src="../../assets/dist/images/nodal_analysis_curve.jpg" alt=""></div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <div class="title_np"><span>Se</span>nsitivity Analysis Curve</div>
        </div>
      </div>
      <div class="padding-top-20"><img class="img-responsive" src="../../assets/dist/images/sensitivity_analysis_curve.jpg" alt=""></div>
    </div>
  </div>
</section>
